%html
  %head
  %link{:type => "text/css", :rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"}
  %link{:type => "text/css", :rel => "stylesheet", :href => "/css/style.css"}
  %title Sinatra-ActiveRecord
  %body
    %nav
      %ul
        %li 
          %a{href: '/'} Home
        %li 
          %a{href: '/users'} Users
        %li
          %a{href: '/post/new'} New Post
          / %a{href: '/users/create'} Create Users
          / %a{href: '/users/last'} Last
          - if current_user
            %li
              %a{href: '/logout'} Logout
            %li
              %a{href: '/profile/edit'} Edit Profile
          - else
            %li
              %a{href: '/login'} Login
            %li
              %a{href: '/register'} Register
    
    = styled_flash
    =yield
