%form{:action => "/register", :method => "POST"}
  %label{:for => "username"} Username
  %input{:name => "username", :type => "text"}/
  %br
  %label{:for => "first_name"} First Name
  %input{:name => "first_name", :type => "text"}/
  %br
  %label{:for => "last_name"} Last Name
  %input{:name => "last_name", :type => "text"}/
  %br
  %label{:for => "email"} Email
  %input{:name => "email", :type => "text"}/
  %br
  %label{:for => "password"} Password
  %input{:name => "password", :type => "password"}/
  %br
  %input{:type => "submit"}/
